{% set active_page = 'contact' %}
{% extends "base.html" %}
{% block title %}
Contact
{% endblock %}
{% block header %}




<body>
    <section>
        <section class="section_container">
              <form class="form" method="POST">
                {{ form.hidden_tag() }}
                <h2 class="contact_us_h2">CONTACT US</h2>
                <p type="Name:">{{ form.name(class='input_field', placeholder='სახელი') }}</p>
                <p type="Email:">{{ form.email(class='input_field', placeholder='მეილი') }}</p>
                <p type="Message:">{{ form.message(class='input_field', placeholder='წერილი') }}</p>
                <button style="background: none; border: none; margin-left: 140px;" type="submit">{{ form.submit(class='message_send') }}</button>
                <div class="contact_info_div" style="display: flex;">
                    <a href="https://tbceducation.ge"><img src="../static/თიბისი.png" style="width: 102px; height: 41px; display: flex; align-items: center;"></a>
                    <p style="padding-left: 15px; padding-right: 15px; display: flex; align-items: center;">5555555</p>
                    <p style="display: flex; align-items: center;">contact@sk.ge</p>
                </div>
            </form>
        </section>

    </section>
    {% endblock %}

</body>
</html>