{% set active_page = 'index' %}
{% extends "base.html" %}
{% block title %}
Main
{% endblock %}
{% block header %}

<body>
    <section class="container-xl ">
        <div class="first_section_div">
            <div>
                <img src="/static/example_photo.png">
            </div>
            <p>Გამარჯობა! მე ვარ საბა კაპანაძე და გატაცებული ვარ ვებ-პროგრამირებით. 
               ნასწავლი მაქვს HTML-ისა და CSS-ის საფუძვლები, რაც საჭიროა ვებსაიტების შესაქმნელად .
               ეს უნარები თიბისის ტექსკოლაში ვისწავლე. კურსის დასასრულს გავაკეთე ფინალური დავალება და სერთიფიკატიც ავიღე.
            <br>
            ახლა მე ვსწავლობ Python-ს, რომელიც არის პროგრამირების ენა, მაგრამ ეს ცოტა განსხვავებულია, რადგან საჭიროებს ლოგიკურ აზროვნებას.
            ვიმედოვნებ, რომ დავიწყებ  Python-ის, HTML-ის და CSS-ის გაერთიანებას, რათა მომავალში კიდევ უფრო უკეთესი პროექტები გავაკეთო.
            <br>
            მადლობა ჩემი პორტფოლიოს შემოწმებისთვის! თუ გსურთ დამიკავშირდეთ, გადადით საკონტაქტო გვერდზე და მომწერეთ მესიჯი!

            </p>
        </div>
    </section>
    {% endblock %}
</body>


</html>
